/******general*********/
*{
    box-sizing: border-box;
}
html,
body,
ul{
    padding: 0;
    margin: 0;
}


/*********header*********/
.navigation{
    min-height: 60px;
    
}
.navigation nav li{
    list-style: none;
    margin: 0 .5rem;
}

/*********main*********/
main{
    min-height: 50vh;
}